<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">

        <title>Spring Security Example</title>
        <style>
            body {
                padding: 30px;
            }
        </style>
    </head>
    <title>О пользователе</title>
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1">
        <!-- Для отображения имейла и роли залогинившегося -->
         <strong><a th:text="${user.getEmail()}">...</a></strong>
        <span class="text-start">с ролью:
            <a th:each="role : ${user.getRoles()}" th:text="${role} + ' '"></a>
        </span>
    </span>
    <ul class="navbar-nav px-4">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="/logout">Выйти</a>
        </li>
    </ul>
</nav>
<!--Левый бар-->
<div class="row mt-5">
    <div class="col-2 fixed-left">
        <div th:fragment="leftmenu">
            <ul class="nav flex-sm-column">
                <li class="nav-item" sec:authorize="hasRole('USER')">
                    <a class="nav-link"
                       th:classappend="${#httpServletRequest.getRequestURI().equals('/user') ? 'active bg-primary text-white' : ''}"
                       href="#" th:href="@{/user}">Пользователь</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-10 bg-light">

        <h1>Страница с информацией о пользователе</h1>

        <div>
            <p><strong>О пользователе</strong></p>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Имя</th>
                        <th scope="col">Фамилия</th>
                        <th scope="col">Возраст</th>
                        <th scope="col">Электронная почта</th>
                        <th scope="col">Роль</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="msg : ${user}">
                        <td th:text="${msg.getId()}"></td>
                        <td th:text="${msg.getName()}"></td>
                        <td th:text="${msg.getLastName()}"></td>
                        <td th:text="${msg.getAge()}"></td>
                        <td th:text="${msg.getEmail()}"></td>
                        <td><span th:each="role : ${msg.getRoles()}" th:text="${role} + ' '"></span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>